@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(images/bg-intro-desktop.png) no-repeat center #ff7a7a;
  font-family: "Poppins", Helvetica, sans-serif;
  background-repeat: repeat-y;
}

.container {
  color: #fff;
  max-width: 1400px;
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}